* {
	padding: 0;
	box-sizing: border-box;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

:root {
	--color-white: #f3f4f5;
	--color-red: #dc143c;
}

.box {
    width: 90%;
	height: auto;
	margin: 30px auto;
	padding: 5px;
	border-radius: 5px;
	background-color: #ffffffbd;
}

.box h2 {
	margin: 0 .5rem;
    margin-bottom: 20px;
    text-align: center;
	color: var(--color-red);
	font-family: 'Poppins', sans-serif;
}

.box h3 {
    margin-bottom: 10px;
    color: var(--color-red);
	font-family: 'Poppins', sans-serif;
}